<h1>Adatok</h1>
<h3>Jegyzőkönyvet vezeti</h3>
<p><%= current_user.name %></p>

<h3>Jelenléti ív</h3>
<div>
  <p>Igazgató Úr: </br>
  <label class="checkbox-inline"><input type="checkbox" value="">Buzás Szilárd</label></p>
</div>
<div>
  <p>Kollégium Bizottság további tagjai:</br>

  <label class="checkbox-inline"><input type="checkbox" value="">Deáki Dominik</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Fürtön Petra</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Herczeg Rita</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Lipka Barbara</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Szalai Balázs</label></p>
</div>
<div>
  <p>Seniorok:</br>

  <label class="checkbox-inline"><input type="checkbox" value="">Fodor József</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Horváth András</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Ladányi Lálszló</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Ördög Katalin</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Szilágyi Rómeó</label></p>
</div>

<h3>Következő ülés</h3>
